In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/Raw_data_from_Kaggle.csv"

# Read Purchasing File and store into Pandas data frame
Life_data = pd.read_csv(file_to_load, encoding = 'ISO-8859-1')

In [2]:
Life_data.head(2)

,UID,BLOCKID,SUMLEVEL,COUNTYID,STATEID,state,state_ab,city,place,type,...,female_age_mean,female_age_median,female_age_stdev,female_age_sample_weight,female_age_samples,pct_own,married,married_snp,separated,divorced
0,220336,NaN,140,16,2,Alaska,AK,Unalaska,Unalaska City,City,...,32.78177,31.91667,19.31875,440.46429,1894.0,0.25053,0.47388,0.30134,0.03443,0.09802
1,220342,NaN,140,20,2,Alaska,AK,Eagle River,Anchorage,City,...,38.97956,39.66667,20.05513,466.65478,1947.0,0.94989,0.52381,0.01777,0.00782,0.13575

In [3]:
del Life_data['UID']
del Life_data['BLOCKID']
del Life_data['SUMLEVEL']
del Life_data['female_age_stdev']
del Life_data['female_age_sample_weight']
del Life_data['male_age_stdev']
del Life_data['male_age_sample_weight']
del Life_data['hc_mortgage_stdev']
del Life_data['hc_mortgage_sample_weight']
del Life_data['hc_mortgage_samples']
del Life_data['home_equity_second_mortgage']
del Life_data['second_mortgage']
del Life_data['second_mortgage_cdf']
del Life_data['primary']
del Life_data['zip_code']
del Life_data['area_code']
del Life_data['rent_stdev']
del Life_data['rent_sample_weight']
del Life_data['rent_samples']
del Life_data['universe_samples']
del Life_data['used_samples']
del Life_data['family_median']
del Life_data['family_stdev']
del Life_data['family_sample_weight']
del Life_data['hi_sample_weight']
del Life_data['hi_samples']
del Life_data['hi_stdev']
del Life_data['family_samples']
del Life_data['hc_stdev']
del Life_data['hc_samples']
del Life_data['family_mean']
del Life_data['hs_degree']
del Life_data['hs_degree_male']
del Life_data['hs_degree_female']
del Life_data['female_age_samples']
del Life_data['COUNTYID']
del Life_data['STATEID']
del Life_data['hc_sample_weight']
del Life_data['hc_mortgage_mean']
del Life_data['hc_mortgage_median']
del Life_data['male_age_samples']

In [4]:
Life_data.columns

Index(['state', 'state_ab', 'city', 'place', 'type', 'lat', 'lng', 'ALand',
       'AWater', 'pop', 'male_pop', 'female_pop', 'rent_mean', 'rent_median',
       'rent_gt_10', 'rent_gt_15', 'rent_gt_20', 'rent_gt_25', 'rent_gt_30',
       'rent_gt_35', 'rent_gt_40', 'rent_gt_50', 'hi_mean', 'hi_median',
       'hc_mean', 'hc_median', 'home_equity', 'debt', 'home_equity_cdf',
       'debt_cdf', 'male_age_mean', 'male_age_median', 'female_age_mean',
       'female_age_median', 'pct_own', 'married', 'married_snp', 'separated',
       'divorced'],
      dtype='object')

In [5]:
Life_data.head()

,state,state_ab,city,place,type,lat,lng,ALand,AWater,pop,...,debt_cdf,male_age_mean,male_age_median,female_age_mean,female_age_median,pct_own,married,married_snp,separated,divorced
0,Alaska,AK,Unalaska,Unalaska City,City,53.621091,-166.770979,2.823180e+09,3101986247,4619,...,0.30304,38.45838,39.25000,32.78177,31.91667,0.25053,0.47388,0.30134,0.03443,0.09802
1,Alaska,AK,Eagle River,Anchorage,City,61.174250,-149.284329,5.092349e+08,1859309,3727,...,0.23925,37.26216,39.33333,38.97956,39.66667,0.94989,0.52381,0.01777,0.00782,0.13575
2,Alaska,AK,Jber,Anchorage,City,61.284745,-149.653973,2.705930e+08,66534601,8736,...,1.00000,21.96291,22.25000,22.20427,23.16667,0.00759,0.50459,0.06676,0.01000,0.01838
3,Alaska,AK,Anchorage,Point Mackenzie,City,61.229560,-149.893037,2.371512e+06,9966854,1941,...,0.18899,35.81912,34.00000,37.00750,34.00000,0.20247,0.44428,0.05933,0.00000,0.21563
4,Alaska,AK,Anchorage,Anchorage,City,61.217082,-149.767214,1.979230e+06,0,5981,...,0.43422,34.13110,30.16667,34.96611,31.75000,0.56936,0.51034,0.08315,0.06731,0.08711

In [6]:
Life_data['single'] = 1 - Life_data['married'] - Life_data['married_snp'] - Life_data['separated'] - Life_data['divorced']

In [7]:
Life_data.head()

,state,state_ab,city,place,type,lat,lng,ALand,AWater,pop,...,male_age_mean,male_age_median,female_age_mean,female_age_median,pct_own,married,married_snp,separated,divorced,single
0,Alaska,AK,Unalaska,Unalaska City,City,53.621091,-166.770979,2.823180e+09,3101986247,4619,...,38.45838,39.25000,32.78177,31.91667,0.25053,0.47388,0.30134,0.03443,0.09802,0.09233
1,Alaska,AK,Eagle River,Anchorage,City,61.174250,-149.284329,5.092349e+08,1859309,3727,...,37.26216,39.33333,38.97956,39.66667,0.94989,0.52381,0.01777,0.00782,0.13575,0.31485
2,Alaska,AK,Jber,Anchorage,City,61.284745,-149.653973,2.705930e+08,66534601,8736,...,21.96291,22.25000,22.20427,23.16667,0.00759,0.50459,0.06676,0.01000,0.01838,0.40027
3,Alaska,AK,Anchorage,Point Mackenzie,City,61.229560,-149.893037,2.371512e+06,9966854,1941,...,35.81912,34.00000,37.00750,34.00000,0.20247,0.44428,0.05933,0.00000,0.21563,0.28076
4,Alaska,AK,Anchorage,Anchorage,City,61.217082,-149.767214,1.979230e+06,0,5981,...,34.13110,30.16667,34.96611,31.75000,0.56936,0.51034,0.08315,0.06731,0.08711,0.25209

In [8]:
Life_data['married'] = Life_data['married'] + Life_data['married_snp']
del Life_data['married_snp']
Life_data

,state,state_ab,city,place,type,lat,lng,ALand,AWater,pop,...,debt_cdf,male_age_mean,male_age_median,female_age_mean,female_age_median,pct_own,married,separated,divorced,single
0,Alaska,AK,Unalaska,Unalaska City,City,53.621091,-166.770979,2.823180e+09,3101986247,4619,...,0.30304,38.45838,39.25000,32.78177,31.91667,0.25053,0.77522,0.03443,0.09802,0.09233
1,Alaska,AK,Eagle River,Anchorage,City,61.174250,-149.284329,5.092349e+08,1859309,3727,...,0.23925,37.26216,39.33333,38.97956,39.66667,0.94989,0.54158,0.00782,0.13575,0.31485
2,Alaska,AK,Jber,Anchorage,City,61.284745,-149.653973,2.705930e+08,66534601,8736,...,1.00000,21.96291,22.25000,22.20427,23.16667,0.00759,0.57135,0.01000,0.01838,0.40027
3,Alaska,AK,Anchorage,Point Mackenzie,City,61.229560,-149.893037,2.371512e+06,9966854,1941,...,0.18899,35.81912,34.00000,37.00750,34.00000,0.20247,0.50361,0.00000,0.21563,0.28076
4,Alaska,AK,Anchorage,Anchorage,City,61.217082,-149.767214,1.979230e+06,0,5981,...,0.43422,34.13110,30.16667,34.96611,31.75000,0.56936,0.59349,0.06731,0.08711,0.25209
5,Alaska,AK,Anchorage,Anchorage,City,61.217507,-149.744426,2.089774e+06,0,5476,...,0.26073,29.23608,25.58333,33.63770,28.83333,0.45011,0.44044,0.02418,0.10242,0.43296
6,Alaska,AK,Anchorage,Anchorage,City,61.223372,-149.723327,2.936374e+06,0,5893,...,0.55290,36.01941,34.16667,34.54987,29.33333,0.51995,0.34215,0.01723,0.08894,0.55168
7,Alaska,AK,Anchorage,Point Mackenzie,City,61.216701,-149.792744,2.494426e+06,0,7481,...,0.38140,30.85796,27.66667,31.90301,26.75000,0.52659,0.56504,0.00645,0.11945,0.30906
8,Alaska,AK,Anchorage,Point Mackenzie,City,61.215067,-149.836271,4.467475e+06,0,5501,...,0.87604,31.35271,29.00000,30.84458,27.41667,0.33319,0.27203,0.02304,0.13622,0.56871
9,Alaska,AK,Anchorage,Point Mackenzie,City,61.204383,-149.852526,1.146156e+06,0,3225,...,0.23018,38.86716,39.50000,43.54596,41.08333,0.38822,0.45455,0.01186,0.17154,0.36205
10,Alaska,AK,Anchorage,Point Mackenzie,City,61.210287,-149.875984,1.749931e+06,0,3416,...,0.52495,40.79832,38.58333,41.24644,42.75000,0.15968,0.36520,0.01318,0.15162,0.47000
11,Alaska,AK,Anchorage,Point Mackenzie,City,61.217709,-149.891261,1.196917e+06,0,924,...,0.70171,41.29183,39.16667,42.83201,43.75000,0.22051,0.40411,0.06678,0.19521,0.33390
12,Alaska,AK,Anchorage,Point Mackenzie,City,61.212190,-149.909817,2.010013e+06,1216751,3763,...,0.77195,44.60407,44.33333,49.85845,52.58333,0.58861,0.48842,0.00000,0.11328,0.39830
13,Alaska,AK,Anchorage,Point Mackenzie,City,61.199628,-149.891921,2.187282e+06,15199,4957,...,0.53616,39.12950,38.91667,37.34880,35.58333,0.30828,0.28751,0.00494,0.20575,0.50180
14,Alaska,AK,Anchorage,Point Mackenzie,City,61.191810,-149.853254,3.335293e+06,36177,4999,...,0.54870,41.47181,43.41667,42.73766,42.83333,0.75285,0.58221,0.02994,0.10098,0.28687
15,Alaska,AK,Anchorage,Point Mackenzie,City,61.203246,-149.824025,2.163759e+06,0,4255,...,0.20753,34.43426,33.91667,36.73528,35.58333,0.76741,0.55155,0.00506,0.03289,0.41050
16,Alaska,AK,Anchorage,Point Mackenzie,City,61.191085,-149.803004,4.978010e+06,175004,4481,...,0.22536,34.53681,29.33333,35.06603,29.41667,0.54928,0.45065,0.02747,0.14106,0.38082
17,Alaska,AK,Anchorage,Anchorage,City,61.202363,-149.733801,2.434086e+06,0,6036,...,0.37960,36.51652,33.08333,36.99366,33.25000,0.76569,0.53748,0.01790,0.09213,0.35249
18,Alaska,AK,Anchorage,Anchorage,City,61.188064,-149.733648,2.576383e+06,0,6296,...,0.06209,34.23956,33.08333,35.43599,33.66667,0.63290,0.54076,0.01765,0.13487,0.30672
19,Alaska,AK,Anchorage,Point Mackenzie,City,61.173881,-149.848285,1.748053e+06,0,4738,...,0.22983,30.24230,26.50000,39.67440,40.75000,0.50983,0.33605,0.00326,0.10848,0.55221
20,Alaska,AK,Anchorage,Point Mackenzie,City,61.175597,-149.823499,3.159566e+06,0,5306,...,0.67881,30.34736,26.58333,32.89103,30.58333,0.57120,0.31685,0.00350,0.08884,0.59081
21,Alaska,AK,Anchorage,Point Mackenzie,City,61.188002,-149.905606,1.334892e+06,0,3504,...,0.84367,36.68451,32.16667,35.54668,32.00000,0.32333,0.37549,0.00662,0.19139,0.42650
22,Alaska,AK,Anchorage,Point Mackenzie,City,61.188550,-149.937601,9.221880e+05,0,3137,...,0.47843,35.36753,32.25000,36.43930,31.66667,0.31638,0.51613,0.04355,0.17581,0.26451
23,Alaska,AK,Anchorage,Point Mackenzie,City,61.164811,-150.177803,5.081420e+07,225502518,7247,...,0.15275,36.86275,35.33333,35.83347,34.25000,0.85275,0.63742,0.01806,0.06067,0.28385
24,Alaska,AK,Anchorage,Point Mackenzie,City,61.147850,-149.925251,4.184086e+06,19798,8620,...,0.25066,32.88069,30.91667,34.47778,32.25000,0.48000,0.50815,0.00439,0.11779,0.36967
25,Alaska,AK,Anchorage,Point Mackenzie,City,61.159103,-149.871663,5.336435e+06,0,5282,...,0.09317,35.33412,32.16667,34.43436,29.83333,0.59916,0.45877,0.00000,0.14187,0.39936
26,Alaska,AK,Anchorage,Anchorage,City,61.159438,-149.819363,2.731183e+06,0,6375,...,0.09102,32.15365,31.41667,37.75669,36.75000,0.85849,0.60878,0.00399,0.10058,0.28665
27,Alaska,AK,Anchorage,Anchorage,City,61.144742,-149.819207,2.589141e+06,0,6126,...,0.09773,37.55471,35.66667,34.45285,33.58333,0.86939,0.59440,0.00000,0.09207,0.31353
28,Alaska,AK,Anchorage,Hope,City,61.093312,-149.867482,1.228995e+07,56645175,10181,...,0.21355,34.31799,31.08333,40.42570,39.16667,0.76925,0.61420,0.02086,0.06522,0.29972
29,Alaska,AK,Anchorage,Hope,City,61.125404,-149.803882,1.481212e+07,0,8077,...,0.14736,35.73058,38.58333,38.03214,40.83333,0.89031,0.70748,0.00641,0.07847,0.20764
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39000,Wyoming,WY,Afton,Fairview,City,42.703366,-110.962758,2.913001e+08,73591,6053,...,0.38469,33.84608,30.58333,37.56198,36.83333,0.82817,0.70258,0.02315,0.04363,0.23064
39001,Wyoming,WY,Diamondville,Kemmerer City,City,41.938361,-110.556130,6.236062e+09,42574046,1938,...,0.78547,39.39795,43.16667,36.20339,35.75000,0.81447,0.70670,0.00559,0.08799,0.19972
39002,Wyoming,WY,Diamondville,Kemmerer City,City,41.819843,-110.556212,1.201548e+08,12706,3471,...,0.70084,39.87046,42.00000,39.87764,41.00000,0.82251,0.65589,0.01221,0.07040,0.26150
39003,Wyoming,WY,Casper,Casper City,City,42.821363,-106.309557,1.036476e+07,0,7178,...,0.48144,33.98589,31.25000,37.49398,33.33333,0.63639,0.61834,0.06012,0.12861,0.19293
39004,Wyoming,WY,Casper,Mills,City,42.818861,-106.359193,5.569445e+06,0,4791,...,0.43672,35.56031,32.91667,39.26250,35.41667,0.67522,0.53825,0.01055,0.16201,0.28919
39005,Wyoming,WY,Casper,Mills,City,42.821972,-106.397070,5.078800e+06,279866,4853,...,0.42284,38.44997,37.66667,38.48304,38.33333,0.71884,0.59056,0.00217,0.11876,0.28851
39006,Wyoming,WY,Midwest,Antelope Hills,City,43.208380,-106.334985,2.892053e+09,7969064,6087,...,0.50568,37.29697,37.33333,36.66192,36.25000,0.77690,0.62309,0.00722,0.18039,0.18930
39007,Wyoming,WY,Casper,Brookhurst,City,42.846099,-106.262270,1.373346e+07,202662,6565,...,0.38846,37.34573,37.66667,35.24131,33.25000,0.69962,0.67581,0.01285,0.14304,0.16830
39008,Wyoming,WY,Casper,Casper Mountain,City,42.788645,-106.360416,4.872843e+07,49349,3684,...,0.49246,39.39152,40.66667,40.44014,43.50000,0.90445,0.68478,0.00000,0.06170,0.25352
39009,Wyoming,WY,Lance Creek,Lance Creek,City,43.062159,-104.468373,6.801350e+09,4969450,2516,...,0.80167,42.76841,42.00000,44.15891,44.00000,0.72403,0.65726,0.02061,0.10195,0.22018
39010,Wyoming,WY,Powell,Powell City,City,44.747875,-108.787320,1.729017e+09,3330295,5147,...,0.74482,42.43696,45.83333,42.24182,45.33333,0.79114,0.68839,0.00999,0.05804,0.24358
39011,Wyoming,WY,Cody,Cody City,City,44.530062,-109.029230,1.708000e+07,208753,5949,...,0.82302,41.43188,41.50000,45.21687,46.58333,0.64835,0.70441,0.00916,0.09825,0.18818
39012,Wyoming,WY,Cody,Cody City,City,44.521214,-109.089935,1.411146e+07,892358,4583,...,0.49537,42.22052,42.83333,39.92479,39.16667,0.72041,0.53422,0.00116,0.06903,0.39559
39013,Wyoming,WY,Wheatland,Glendo,City,42.400799,-104.948064,2.289550e+09,61606458,2254,...,0.76294,46.30172,51.41667,44.41211,48.16667,0.74066,0.58302,0.00849,0.16698,0.24151
39014,Wyoming,WY,Sheridan,Sheridan City,City,44.801374,-106.964206,4.423501e+06,0,3812,...,0.62240,37.29597,31.50000,42.46950,42.25000,0.54350,0.57399,0.00000,0.07565,0.35036
39015,Wyoming,WY,Sheridan,Sheridan City,City,44.814637,-106.961763,6.195887e+06,11045,5737,...,0.54924,37.28860,38.58333,40.07455,41.66667,0.71525,0.63562,0.04452,0.11749,0.20237
39016,Wyoming,WY,Clearmont,Clearmont,City,44.768866,-106.534807,4.044813e+09,4707706,6919,...,0.60666,44.08428,49.16667,45.34959,49.08333,0.84461,0.73273,0.00698,0.09839,0.16190
39017,Wyoming,WY,Dayton,Dayton,City,44.834229,-107.437998,2.463617e+09,3267572,4967,...,0.65028,42.76557,46.91667,40.14986,40.58333,0.74006,0.63624,0.01437,0.11260,0.23679
39018,Wyoming,WY,Green River,Green River City,City,41.499509,-109.386740,8.889238e+07,1170215,4695,...,0.75982,35.41289,35.58333,33.47566,30.58333,0.67133,0.55461,0.00623,0.10470,0.33446
39019,Wyoming,WY,Green River,Green River City,City,41.497363,-109.456039,1.500340e+06,0,3701,...,0.33134,33.42492,30.25000,34.50513,35.75000,0.76547,0.66080,0.01422,0.08802,0.23696
39020,Wyoming,WY,Rock Springs,Reliance,City,41.661982,-109.169411,1.375655e+08,0,5170,...,0.88503,35.88134,34.41667,37.31798,31.50000,0.66156,0.43574,0.00000,0.24079,0.32347
39021,Wyoming,WY,Rock Springs,North Rock Springs,City,41.669063,-109.287920,1.115246e+08,60033,7332,...,0.67715,33.60212,30.50000,33.36715,32.41667,0.82831,0.65644,0.02149,0.12438,0.19769
39022,Wyoming,WY,Rock Srpings,Rock Springs City,City,41.604200,-109.247325,7.273791e+06,0,4553,...,0.42484,29.85455,28.33333,35.65628,33.25000,0.64877,0.62147,0.00000,0.12869,0.24984
39023,Wyoming,WY,Rock Springs,Clearview Acres,City,41.574722,-109.259547,1.228657e+07,0,3165,...,0.79382,32.48695,30.41667,30.05706,26.50000,0.47548,0.64196,0.03497,0.10575,0.21732
39024,Wyoming,WY,Rock Springs,Rock Springs City,City,41.572542,-109.148774,3.492763e+07,0,2509,...,0.71809,38.08483,37.08333,40.97739,39.16667,0.86847,0.67685,0.00000,0.10842,0.21473
39025,Wyoming,WY,Jackson,Rafter J Ranch,City,43.438652,-110.769450,7.781997e+07,845971,7986,...,0.30301,38.23101,37.41667,35.90644,36.00000,0.54379,0.56252,0.04890,0.08726,0.30132
39026,Wyoming,WY,Mountain View,Urie,City,41.295517,-110.323344,2.953930e+09,5101790,6629,...,0.78384,36.94758,37.50000,36.41243,36.33333,0.78639,0.53063,0.00153,0.19755,0.27029
39027,Wyoming,WY,Worland,Worland City,City,44.014369,-107.956379,1.993203e+06,0,2578,...,0.70665,38.09749,38.75000,42.03007,35.16667,0.68378,0.50220,0.01211,0.29185,0.19384
39028,Wyoming,WY,Upton,Osage,City,43.846213,-104.570020,6.100270e+09,4817928,3442,...,0.86208,44.12667,45.16667,44.18268,47.16667,0.82450,0.61099,0.00906,0.14609,0.23386
39029,Wyoming,WY,Newcastle,Newcastle City,City,43.859560,-104.244461,1.108001e+08,183772,3710,...,0.85679,39.32033,39.83333,41.07646,39.58333,0.81300,0.62980,0.00768,0.10215,0.26037

In [9]:
Life_data = Life_data.dropna(how='any')

In [10]:
By_State_life_data = Life_data.groupby('state')

In [11]:
income = By_State_life_data["hi_mean"].mean()
land = By_State_life_data["ALand"].sum()
water = By_State_life_data["AWater"].sum()
rent = By_State_life_data['rent_mean'].mean()
mortgage = By_State_life_data['hc_mean'].mean()
population = By_State_life_data['pop'].sum()
female_pop = By_State_life_data['female_pop'].sum()
male_pop = By_State_life_data['male_pop'].sum()
single = By_State_life_data['single'].mean()
married = By_State_life_data['married'].mean()
seperated = By_State_life_data['separated'].mean()
divorced = By_State_life_data['divorced'].mean()

In [12]:
aster_dataframe = pd.DataFrame({'income':income,
                               'land':land,
                               'water':water,
                               'rent': rent,
                               'mortgage': mortgage,
                               'population': population,
                               'female_pop': female_pop,
                               'male_pop': male_pop,
                               'single': single,
                               'married': married,
                               'seperated': seperated,
                               'divorced': divorced})
aster_dataframe.head()

,income,land,water,rent,mortgage,population,female_pop,male_pop,single,married,seperated,divorced
state,,,,,,,,,,,,
Alabama,55788.066266,7.006006e+10,1720388676,762.827471,384.365807,2511687,1287786,1223901,0.302513,0.553968,0.023294,0.120225
Alaska,83722.558434,7.192396e+11,137730212703,1181.644323,577.077874,460580,219210,241370,0.319369,0.546585,0.018343,0.115703
Arizona,66555.442501,1.679197e+11,661551882,1085.130917,428.608018,3444653,1732409,1712244,0.320665,0.554680,0.015526,0.109129
Arkansas,54547.455418,6.951940e+10,1484142695,715.227833,365.130385,1540303,782376,757927,0.273082,0.579177,0.021395,0.126347
California,82559.141333,2.323530e+11,3871477507,1472.475523,557.127247,19890113,10002868,9887245,0.341177,0.557513,0.019155,0.082155

In [13]:
aster_dataframe['land_percentage'] =aster_dataframe['land'] /(aster_dataframe['land'] + aster_dataframe['water']) 
aster_dataframe['water_percentage'] =aster_dataframe['water'] /(aster_dataframe['land'] + aster_dataframe['water']) 
aster_dataframe.head()

,income,land,water,rent,mortgage,population,female_pop,male_pop,single,married,seperated,divorced,land_percentage,water_percentage
state,,,,,,,,,,,,,,
Alabama,55788.066266,7.006006e+10,1720388676,762.827471,384.365807,2511687,1287786,1223901,0.302513,0.553968,0.023294,0.120225,0.976033,0.023967
Alaska,83722.558434,7.192396e+11,137730212703,1181.644323,577.077874,460580,219210,241370,0.319369,0.546585,0.018343,0.115703,0.839282,0.160718
Arizona,66555.442501,1.679197e+11,661551882,1085.130917,428.608018,3444653,1732409,1712244,0.320665,0.554680,0.015526,0.109129,0.996076,0.003924
Arkansas,54547.455418,6.951940e+10,1484142695,715.227833,365.130385,1540303,782376,757927,0.273082,0.579177,0.021395,0.126347,0.979098,0.020902
California,82559.141333,2.323530e+11,3871477507,1472.475523,557.127247,19890113,10002868,9887245,0.341177,0.557513,0.019155,0.082155,0.983611,0.016389

In [15]:
del aster_dataframe['land']
del aster_dataframe['water']

In [16]:
Life_data.to_csv('./Resources/Life_data_full_cleaned_dataset.csv')
aster_dataframe.to_csv('./Resources/Life_data_agg_aster_plot.csv')

In [18]:
aster_dataframe.head()

,income,rent,mortgage,population,female_pop,male_pop,single,married,seperated,divorced,land_percentage,water_percentage
state,,,,,,,,,,,,
Alabama,55788.066266,762.827471,384.365807,2511687,1287786,1223901,0.302513,0.553968,0.023294,0.120225,0.976033,0.023967
Alaska,83722.558434,1181.644323,577.077874,460580,219210,241370,0.319369,0.546585,0.018343,0.115703,0.839282,0.160718
Arizona,66555.442501,1085.130917,428.608018,3444653,1732409,1712244,0.320665,0.554680,0.015526,0.109129,0.996076,0.003924
Arkansas,54547.455418,715.227833,365.130385,1540303,782376,757927,0.273082,0.579177,0.021395,0.126347,0.979098,0.020902
California,82559.141333,1472.475523,557.127247,19890113,10002868,9887245,0.341177,0.557513,0.019155,0.082155,0.983611,0.016389